html, body, div {
    margin: 0;
    padding: 0;
}

html, body, :global(#root) {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0.1;
}

.middle {
    flex: 0.8;
    display: flex;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
}

.footer {
    flex: 0.1;
}

.left {
    flex: 0.1;
}

.center {
    flex: 0.8;
    border-left: black 1px solid;
    border-right: black 1px solid;
}

.right {
    flex: 0.1;
}
