.container {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0.1;
}

.middle {
    flex: 0.8;
    display: flex;
}

.footer {
    flex: 0.1;
}

.left {
    flex: 0.1;
}

.center {
    flex: 0.8;
}

.right {
    flex: 0.1;
}
